In [67]:
import pandas as pd

In [68]:
data = pd.read_csv('/content/train.csv')

In [69]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [71]:
#Checking for the null values in the data set

In [70]:
data.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [72]:
d2= pd.DataFrame(data)

In [73]:
# b) Removing the units from Mileage, Engine, Power and New_Price and converting them into float

In [74]:
d2['Mileage'] = d2['Mileage'].str.extract('(\d+\.\d+)').astype(float)

d2['Engine'] = d2['Engine'].str.replace(' CC', '').astype(float)

d2['Power'] = d2['Power'].str.extract('(\d+\.\d+)').astype(float)

d2['New_Price'] = d2['New_Price'].str.extract('(\d+\.\d+)').astype(float)

d2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

In [75]:
#a) Filling in missing values im Mileage, Engine, Power,Seats

In [77]:
d2['Mileage'].fillna(d2['Mileage'].median(),inplace=True)
d2['Engine'].fillna(d2['Engine'].median(),inplace=True)
d2['Power'].fillna(d2['Power'].median(),inplace=True)

d2['Seats'].fillna(d2['Seats'].mode()[0],inplace=True)

d2 = d2.dropna()
d2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,8.61,4.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,10.65,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.50,2477.0,175.56,7.0,32.01,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995.0,88.80,5.0,47.87,18.55
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.50,1199.0,88.70,5.0,10.57,9.90

In [78]:
output_csv_file = 'preprocessed_data.csv'
d2.to_csv(output_csv_file, index=False)

In [79]:
d1=pd.read_csv("/content/preprocessed_data.csv")

In [80]:
d1.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

In [81]:
#unique values for some of our categorical variables: "Fuel_Type," "Transmission," and "Owner_Type."

In [82]:
d1['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'Electric'], dtype=object)

In [83]:
d1['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [84]:
d1['Owner_Type'].unique()

array(['First', 'Second', 'Third'], dtype=object)

In [86]:
#c) To work with our categorical variables, we are converting them into numerical data using one-hot encoding.
d1['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
d1['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
d1['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

In [89]:
d1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,8.61,4.50
1,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,0,1,21.56,1462.0,103.25,5.0,10.65,9.95
2,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,0,1,13.50,2477.0,175.56,7.0,32.01,15.00
3,20,BMW 3 Series 320d,Kochi,2014,32982,0,1,1,22.69,1995.0,88.80,5.0,47.87,18.55
4,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,0,1,17.50,1199.0,88.70,5.0,10.57,9.90

In [90]:
#Save the encoded data in the separate csv file

In [91]:
output_csv_file = 'encoded_data.csv'
d1.to_csv(output_csv_file, index=False)

In [92]:
#d)We are adding a new column called "current age" to our dataset, which will help us understand how old each car is.

In [93]:
from datetime import datetime

In [94]:
current_year = datetime.now().year

d1['Current_Age'] = current_year - d1['Year']

In [95]:
#Save the encoded data in separate csv file
output_csv_file = 'newColumnData.csv'
d1.to_csv(output_csv_file, index=False)

In [96]:
d3=pd.read_csv("/content/newColumnData.csv")
d3.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Current_Age
0,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,8.61,4.50,13
1,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,0,1,21.56,1462.0,103.25,5.0,10.65,9.95,6
2,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,0,1,13.50,2477.0,175.56,7.0,32.01,15.00,10
3,20,BMW 3 Series 320d,Kochi,2014,32982,0,1,1,22.69,1995.0,88.80,5.0,47.87,18.55,10
4,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,0,1,17.50,1199.0,88.70,5.0,10.57,9.90,6

In [97]:
# e) Perform operations
# Select specific columns
selected_columns = d3[['Seats', 'Current_Age', 'Year', 'Mileage', 'Price']]

In [98]:
# Filter data based on condition
d3['Mileage'] = pd.to_numeric(d3['Mileage'], errors='coerce')
filtered_data = d3[d3['Mileage'] > 20]

In [99]:
# Rename columns
renamed_columns = data.rename(columns={'Fuel_Type_Petrol': 'Petrol_Fuel_Type'})
print("\nRenamed columns:")
print(renamed_columns.head())

Renamed columns:
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    18.19  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  New_Price  Price
0  126.20    5.0        NaN  12.50
1   88.70    5.0       8.61   4.50
2   88.76    7.0        NaN   6.00
3  140.80    5.0        NaN  17.74
4   63.10    5.0        NaN   3.50

In [100]:
#renaming
d3.rename(columns={'Year': 'Origin_Year'}, inplace=True)

In [101]:
#mutating
current_year = 2024
d3['Age'] = current_year - d3['Origin_Year']

In [102]:
#arrange
sorted_data = d3.sort_values(by='Price', ascending=False)

In [103]:
#summarize
average_price_by_make = d3.groupby('Seats')['Price'].mean()

In [104]:
d3.head()

,Unnamed: 0,Name,Location,Origin_Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Current_Age,Age
0,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,8.61,4.50,13,13
1,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,0,1,21.56,1462.0,103.25,5.0,10.65,9.95,6,6
2,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,0,1,13.50,2477.0,175.56,7.0,32.01,15.00,10,10
3,20,BMW 3 Series 320d,Kochi,2014,32982,0,1,1,22.69,1995.0,88.80,5.0,47.87,18.55,10,10
4,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,0,1,17.50,1199.0,88.70,5.0,10.57,9.90,6,6